# The `features` module

In [1]:
%load_ext autoreload
%autoreload 2

## Load pocket as `PocketBioPython`

In [4]:
from kissim.io import PocketBioPython
pocket_bp = PocketBioPython.from_structure_klifs_id(12347)

INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!
INFO:opencadd.structure.pocket.base:Pocket 12347 (set pocket residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [('_', 4), ('_', 5), ('_', 6), ('_', 7), ('_', 83), ('_', 84), ('_', 85)]

In [10]:
pocket_bp.residues["residue.ix"].sum()

3381

## Load pocket as `PocketDataFrame`

In [3]:
from kissim.io import PocketDataFrame
pocket_df = PocketDataFrame.from_structure_klifs_id(12347)

INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!
INFO:opencadd.structure.pocket.base:Pocket 12347 (set pocket residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [('_', 4), ('_', 5), ('_', 6), ('_', 7), ('_', 83), ('_', 84), ('_', 85)]
INFO:opencadd.structure.pocket.base:Pocket 12347 (set region residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [(None, 84), (None, 85)]
INFO:opencadd.structure.pocket.base:Pocket 12347 (set region residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [(None, 4), (None, 5), (None, 6), (None, 7)]
INFO:opencadd.structure.pocket.base:Pocket 12347 (set region residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [(None, 83)]

## Side chain orientation

In [4]:
from kissim.encoding.features.sco import SideChainOrientationFeature

In [5]:
sco = SideChainOrientationFeature.from_pocket(pocket_bp)

### Class properties

In [6]:
print(*sco.values)

1.0 nan nan 2.0 nan 2.0 1.0 nan nan 2.0 0.0 2.0 nan nan nan 1.0 1.0 nan 2.0 nan 2.0 nan 1.0 nan nan 2.0 0.0 2.0 2.0 2.0 2.0 0.0 2.0 2.0 2.0 nan 2.0 2.0 1.0 2.0 0.0 1.0 2.0 0.0 nan nan 2.0 2.0 2.0 2.0 2.0 1.0 nan 1.0 0.0 1.0 0.0 1.0 2.0 1.0 2.0 1.0 2.0 0.0 2.0 1.0 2.0 1.0 nan 2.0 1.0 2.0 2.0 2.0 2.0 nan 2.0 1.0

In [7]:
sco.details

,sco.category,sco.angle,ca.vector,sc.vector,centroid
461,1.0,84.436343,"<Vector 8.81, 16.81, 51.66>","<Vector 5.63, 14.81, 52.26>","<Vector 0.83, 21.62, 36.45>"
462,NaN,NaN,"<Vector 8.91, 14.91, 48.36>",None,"<Vector 0.83, 21.62, 36.45>"
463,NaN,NaN,"<Vector 5.48, 13.77, 47.17>",None,"<Vector 0.83, 21.62, 36.45>"
468,2.0,138.410707,"<Vector 9.01, 12.20, 35.42>","<Vector 14.05, 11.55, 35.02>","<Vector 0.83, 21.62, 36.45>"
469,NaN,NaN,"<Vector 10.82, 14.70, 37.66>",None,"<Vector 0.83, 21.62, 36.45>"
...,...,...,...,...,...
584,2.0,128.398325,"<Vector -9.36, 18.82, 42.32>","<Vector -11.45, 17.57, 41.42>","<Vector 0.83, 21.62, 36.45>"
592,2.0,149.739811,"<Vector -4.69, 21.47, 35.20>","<Vector -7.54, 21.40, 32.54>","<Vector 0.83, 21.62, 36.45>"
593,NaN,NaN,"<Vector -0.96, 20.89, 35.01>",None,"<Vector 0.83, 21.62, 36.45>"
594,2.0,92.784985,"<Vector 1.83, 18.43, 34.14>","<Vector 1.72, 16.82, 36.09>","<Vector 0.83, 21.62, 36.45>"
595,1.0,59.266540,"<Vector 2.38, 19.71, 30.60>","<Vector 0.31, 24.33, 31.38>","<Vector 0.83, 21.62, 36.45>"

### Class attributes

In [8]:
print(*sco._residue_ids)

461 462 463 468 469 470 471 472 473 480 481 482 483 484 485 497 498 499 500 501 502 503 504 505 506 507 508 509 511 512 513 514 515 516 517 518 519 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 592 593 594 595

In [9]:
print(*sco._categories)

1.0 nan nan 2.0 nan 2.0 1.0 nan nan 2.0 0.0 2.0 nan nan nan 1.0 1.0 nan 2.0 nan 2.0 nan 1.0 nan nan 2.0 0.0 2.0 2.0 2.0 2.0 0.0 2.0 2.0 2.0 nan 2.0 2.0 1.0 2.0 0.0 1.0 2.0 0.0 nan nan 2.0 2.0 2.0 2.0 2.0 1.0 nan 1.0 0.0 1.0 0.0 1.0 2.0 1.0 2.0 1.0 2.0 0.0 2.0 1.0 2.0 1.0 nan 2.0 1.0 2.0 2.0 2.0 2.0 nan 2.0 1.0

In [10]:
print(*sco._vertex_angles)

84.43634320797315 nan nan 138.41070678639875 nan 150.69852081699418 45.24506235374276 nan nan 97.18224591861701 42.7171640791292 160.94719014562634 nan nan nan 83.08520899103792 69.17007309538454 nan 96.18795253124387 nan 127.18687421489133 nan 69.8645863476361 nan nan 116.47795356345232 19.552063171462777 118.45486321068974 154.666946496114 150.37636982049693 92.60236739634725 43.29404750327634 160.29403467330314 120.89862214424804 110.42087228799096 nan 128.83818867750998 109.65952091402973 59.34356407787748 165.78833592095822 7.019169257832821 77.18360997869439 117.90329699677812 15.988058453389012 nan nan 143.6123356732296 100.50798356507362 109.54677926141883 113.29583323153793 109.01869697036146 72.6404360609924 nan 69.85213002782336 42.93083244840415 73.50585445162793 18.293892536851374 85.75932843864183 92.25968401478761 57.239589687100334 172.84710331169467 72.87397651098915 156.4794300679326 37.81829741138075 109.26369865542082 79.63479790374275 102.796637731654 63.8290866023029 nan 99.03962092788386 80.75578932524729 126.26685841826053 92.05348140746688 128.39832506330396 149.73981142972815 nan 92.78498477044577 59.26653953159822

In [11]:
print(sco._centroid)

<Vector 0.83, 21.62, 36.45>

In [12]:
print(*sco._ca_atoms)

<Vector 8.81, 16.81, 51.66> <Vector 8.91, 14.91, 48.36> <Vector 5.48, 13.77, 47.17> <Vector 9.01, 12.20, 35.42> <Vector 10.82, 14.70, 37.66> <Vector 11.03, 15.03, 41.43> <Vector 8.14, 16.88, 43.10> <Vector 8.32, 18.38, 46.59> <Vector 5.94, 20.35, 48.81> <Vector 3.90, 25.86, 47.29> <Vector 4.92, 22.87, 45.17> <Vector 8.33, 22.78, 43.46> <Vector 9.26, 20.28, 40.75> <Vector 13.01, 19.87, 40.20> <Vector 15.03, 17.46, 38.07> <Vector 13.70, 22.76, 27.11> <Vector 13.26, 24.33, 30.56> <Vector 13.41, 27.83, 29.06> <Vector 10.73, 26.87, 26.53> <Vector 8.52, 25.29, 29.22> <Vector 8.88, 28.38, 31.44> <Vector 7.99, 30.63, 28.52> <Vector 4.91, 28.51, 27.83> <Vector 3.86, 28.51, 31.50> <Vector 4.42, 32.24, 32.12> <Vector 1.46, 33.35, 29.96> <Vector -1.24, 31.45, 31.93> <Vector -3.62, 33.14, 34.40> <Vector -8.74, 29.90, 38.02> <Vector -9.01, 26.48, 36.33> <Vector -5.33, 26.41, 35.29> <Vector -2.58, 25.68, 37.81> <Vector -1.00, 28.88, 39.12> <Vector 2.64, 29.07, 38.05> <Vector 4.55, 31.17, 40.59> <Vector 8.18, 31.11, 39.45> <Vector 11.24, 29.23, 38.28> <Vector 12.88, 23.72, 38.82> <Vector 9.37, 25.17, 38.56> <Vector 7.51, 26.45, 41.65> <Vector 3.69, 26.68, 41.57> <Vector 0.92, 26.91, 44.14> <Vector -0.00, 24.11, 46.55> <Vector -3.53, 22.68, 46.33> <Vector -5.15, 20.29, 48.81> <Vector -6.82, 17.23, 47.30> <Vector -6.04, 14.55, 44.73> <Vector -6.29, 13.95, 40.99> <Vector -9.61, 13.23, 39.30> <Vector -8.16, 9.83, 38.34> <Vector -7.69, 9.01, 42.03> <Vector -11.13, 10.38, 42.96> <Vector -13.15, 8.49, 40.33> <Vector -11.12, 5.30, 39.76> <Vector -9.03, 4.67, 42.88> <Vector -8.41, 29.27, 27.77> <Vector -5.36, 27.26, 26.69> <Vector -6.51, 26.98, 23.06> <Vector -7.40, 30.68, 22.90> <Vector -3.68, 31.32, 23.48> <Vector -2.71, 28.62, 20.94> <Vector -1.32, 26.50, 23.78> <Vector -1.43, 22.76, 23.09> <Vector -1.78, 20.55, 26.17> <Vector -0.31, 17.40, 24.68> <Vector -0.67, 15.11, 27.71> <Vector -4.22, 15.90, 28.84> <Vector -5.58, 13.10, 31.03> <Vector -7.80, 12.64, 34.06> <Vector -4.68, 11.96, 36.15> <Vector -3.35, 15.47, 35.42> <Vector -6.62, 17.09, 36.56> <Vector -6.27, 18.11, 40.21> <Vector -9.36, 18.82, 42.32> <Vector -4.69, 21.47, 35.20> <Vector -0.96, 20.89, 35.01> <Vector 1.83, 18.43, 34.14> <Vector 2.38, 19.71, 30.60>

In [13]:
print(*sco._sc_atoms)

<Vector 5.63, 14.81, 52.26> None None <Vector 14.05, 11.55, 35.02> None <Vector 12.36, 15.01, 42.17> <Vector 6.69, 16.56, 42.66> None None <Vector 4.92, 26.91, 46.80> <Vector 3.80, 22.02, 44.56> <Vector 9.51, 23.39, 44.24> None None None <Vector 13.73, 21.25, 27.27> <Vector 13.03, 26.24, 35.27> None <Vector 9.66, 25.81, 24.50> None <Vector 10.18, 28.90, 32.07> None <Vector 4.89, 27.05, 27.37> None None <Vector 1.30, 33.11, 24.08> <Vector -0.94, 29.95, 32.06> <Vector -2.00, 35.10, 34.50> <Vector -10.14, 30.33, 38.49> <Vector -11.50, 26.40, 35.86> <Vector -5.64, 25.53, 32.39> <Vector -0.72, 24.29, 38.99> <Vector -1.02, 31.00, 40.63> <Vector 6.82, 31.25, 36.05> <Vector 3.43, 31.54, 45.08> None <Vector 13.61, 33.86, 34.43> <Vector 13.14, 23.57, 40.32> <Vector 8.51, 24.08, 34.92> <Vector 8.25, 27.35, 42.65> <Vector 2.97, 25.78, 40.56> <Vector -2.69, 27.43, 42.78> <Vector -0.04, 20.71, 49.59> <Vector -3.01, 21.92, 43.68> None None <Vector -5.86, 12.92, 46.53> <Vector -5.02, 11.90, 40.66> <Vector -11.48, 13.52, 37.49> <Vector -5.42, 4.20, 36.62> <Vector -7.21, 8.78, 46.44> <Vector -11.08, 13.92, 45.60> None <Vector -11.86, 6.88, 35.93> <Vector -7.72, 5.39, 43.20> <Vector -4.75, 33.62, 30.84> <Vector -4.72, 25.57, 28.55> <Vector -7.70, 22.48, 22.33> <Vector -8.27, 31.47, 23.88> <Vector -2.86, 33.58, 29.30> <Vector -2.97, 29.78, 18.82> <Vector 0.86, 28.28, 25.10> <Vector -0.52, 22.79, 19.31> <Vector -1.61, 18.42, 29.78> <Vector 1.52, 18.43, 23.23> <Vector 0.44, 13.47, 29.32> <Vector -6.55, 16.93, 28.81> <Vector -0.29, 11.79, 32.27> None <Vector -2.90, 10.45, 37.13> <Vector -1.45, 14.94, 33.83> <Vector -9.10, 16.66, 33.60> <Vector -4.06, 18.10, 44.81> <Vector -11.45, 17.57, 41.42> <Vector -7.54, 21.40, 32.54> None <Vector 1.72, 16.82, 36.09> <Vector 0.31, 24.33, 31.38>

## Exposure

In [14]:
from kissim.encoding.features.exposure import SolventExposureFeature

In [15]:
exposure = SolventExposureFeature.from_pocket(pocket_bp)

### Class properties

In [16]:
print(*exposure.values)

0.875 0.7857142857142857 0.3125 0.7777777777777778 0.35294117647058826 0.45454545454545453 0.7083333333333334 0.46153846153846156 0.7407407407407407 0.41379310344827586 0.6388888888888888 0.4864864864864865 0.6857142857142857 0.46875 0.5652173913043478 0.5 0.4074074074074074 0.7727272727272727 0.625 0.46153846153846156 0.39285714285714285 0.7368421052631579 0.45 0.40625 0.6153846153846154 0.5652173913043478 0.1724137931034483 0.9473684210526315 0.8181818181818182 0.4666666666666667 0.5833333333333334 0.4722222222222222 0.7586206896551724 0.45714285714285713 0.5666666666666667 0.6 0.65625 0.4473684210526316 0.5952380952380952 0.4523809523809524 0.5641025641025641 0.6206896551724138 0.5666666666666667 0.2962962962962963 0.8421052631578947 0.15789473684210525 0.7142857142857143 0.6 0.375 0.7142857142857143 0.7083333333333334 0.3448275862068966 0.3125 0.52 0.5294117647058824 0.5185185185185185 0.3333333333333333 0.375 0.5 0.2631578947368421 1.0 0.3333333333333333 0.7142857142857143 0.4117647058823529 0.84 0.7727272727272727 0.3235294117647059 0.7878787878787878 0.47368421052631576 0.8620689655172413 0.5357142857142857 0.43902439024390244 0.6176470588235294 0.5277777777777778 0.47619047619047616 0.6 0.5185185185185185 0.32

In [17]:
exposure.details

     exposure.ratio  exposure.ratio_ca  exposure.ratio_cb
461        0.875000           1.000000           0.875000
462        0.785714           0.500000           0.785714
463        0.312500                NaN           0.312500
468        0.777778                NaN           0.777778
469        0.352941           0.411765           0.352941
..              ...                ...                ...
584        0.527778           0.555556           0.527778
592        0.476190           0.523810           0.476190
593        0.600000           0.542857           0.600000
594        0.518519           0.703704           0.518519
595        0.320000                NaN           0.320000

[78 rows x 3 columns]

### Class attributes

In [18]:
print(*exposure._residue_ids)

461 462 463 468 469 470 471 472 473 480 481 482 483 484 485 497 498 499 500 501 502 503 504 505 506 507 508 509 511 512 513 514 515 516 517 518 519 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 592 593 594 595

In [19]:
print(*exposure._ratio)

0.875 0.7857142857142857 0.3125 0.7777777777777778 0.35294117647058826 0.45454545454545453 0.7083333333333334 0.46153846153846156 0.7407407407407407 0.41379310344827586 0.6388888888888888 0.4864864864864865 0.6857142857142857 0.46875 0.5652173913043478 0.5 0.4074074074074074 0.7727272727272727 0.625 0.46153846153846156 0.39285714285714285 0.7368421052631579 0.45 0.40625 0.6153846153846154 0.5652173913043478 0.1724137931034483 0.9473684210526315 0.8181818181818182 0.4666666666666667 0.5833333333333334 0.4722222222222222 0.7586206896551724 0.45714285714285713 0.5666666666666667 0.6 0.65625 0.4473684210526316 0.5952380952380952 0.4523809523809524 0.5641025641025641 0.6206896551724138 0.5666666666666667 0.2962962962962963 0.8421052631578947 0.15789473684210525 0.7142857142857143 0.6 0.375 0.7142857142857143 0.7083333333333334 0.3448275862068966 0.3125 0.52 0.5294117647058824 0.5185185185185185 0.3333333333333333 0.375 0.5 0.2631578947368421 1.0 0.3333333333333333 0.7142857142857143 0.4117647058823529 0.84 0.7727272727272727 0.3235294117647059 0.7878787878787878 0.47368421052631576 0.8620689655172413 0.5357142857142857 0.43902439024390244 0.6176470588235294 0.5277777777777778 0.47619047619047616 0.6 0.5185185185185185 0.32

In [20]:
print(*exposure._ratio_ca)

1.0 0.5 nan nan 0.4117647058823529 0.6363636363636364 0.5416666666666666 0.6153846153846154 0.7037037037037037 0.5172413793103449 0.6666666666666666 0.43243243243243246 0.6571428571428571 0.4375 0.6956521739130435 0.8888888888888888 0.48148148148148145 0.7727272727272727 1.0 0.6153846153846154 0.5 0.8947368421052632 0.65 0.40625 0.5384615384615384 0.8260869565217391 0.13793103448275862 0.8947368421052632 0.8181818181818182 0.3333333333333333 0.5 0.4444444444444444 0.6896551724137931 0.37142857142857144 0.7333333333333333 0.7666666666666667 0.5 0.5263157894736842 0.6190476190476191 0.42857142857142855 0.5641025641025641 0.6551724137931034 0.5 0.3333333333333333 0.8947368421052632 0.6842105263157895 0.7142857142857143 0.6666666666666666 0.4 0.5 0.8333333333333334 0.5862068965517241 0.46875 0.56 0.9411764705882353 0.7407407407407407 0.45454545454545453 0.5416666666666666 0.6666666666666666 0.631578947368421 0.8823529411764706 0.5 0.6071428571428571 0.4117647058823529 0.68 0.8181818181818182 0.2647058823529412 0.7272727272727273 0.3157894736842105 0.6896551724137931 0.6428571428571429 0.4634146341463415 0.7058823529411765 0.5555555555555556 0.5238095238095238 0.5428571428571428 0.7037037037037037 nan

In [21]:
print(*exposure._ratio_cb)

0.875 0.7857142857142857 0.3125 0.7777777777777778 0.35294117647058826 0.45454545454545453 0.7083333333333334 0.46153846153846156 0.7407407407407407 0.41379310344827586 0.6388888888888888 0.4864864864864865 0.6857142857142857 0.46875 0.5652173913043478 0.5 0.4074074074074074 0.7727272727272727 0.625 0.46153846153846156 0.39285714285714285 0.7368421052631579 0.45 0.40625 0.6153846153846154 0.5652173913043478 0.1724137931034483 0.9473684210526315 0.8181818181818182 0.4666666666666667 0.5833333333333334 0.4722222222222222 0.7586206896551724 0.45714285714285713 0.5666666666666667 0.6 0.65625 0.4473684210526316 0.5952380952380952 0.4523809523809524 0.5641025641025641 0.6206896551724138 0.5666666666666667 0.2962962962962963 0.8421052631578947 0.15789473684210525 0.7142857142857143 0.6 0.375 0.7142857142857143 0.7083333333333334 0.3448275862068966 0.3125 0.52 0.5294117647058824 0.5185185185185185 0.3333333333333333 0.375 0.5 0.2631578947368421 1.0 0.3333333333333333 0.7142857142857143 0.4117647058823529 0.84 0.7727272727272727 0.3235294117647059 0.7878787878787878 0.47368421052631576 0.8620689655172413 0.5357142857142857 0.43902439024390244 0.6176470588235294 0.5277777777777778 0.47619047619047616 0.6 0.5185185185185185 0.32

## SiteAlign features

In [22]:
from kissim.encoding.features.sitealign import SiteAlignFeature

In [23]:
sitealign = SiteAlignFeature.from_pocket(pocket_df, "hba")

### Class properties

In [24]:
print(*sitealign.values)

1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 2.0 0.0 1.0 1.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 2.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0

In [25]:
sitealign.details

    residue.name  sitealign.category
461          GLN                 1.0
462          ARG                 0.0
463          ILE                 0.0
468          PHE                 0.0
469          GLY                 0.0
..           ...                 ...
584          LEU                 0.0
592          ILE                 0.0
593          GLY                 0.0
594          ASP                 2.0
595          PHE                 0.0

[78 rows x 2 columns]

### Class attributes

In [26]:
print(*sitealign._residue_ids)

461 462 463 468 469 470 471 472 473 480 481 482 483 484 485 497 498 499 500 501 502 503 504 505 506 507 508 509 511 512 513 514 515 516 517 518 519 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 592 593 594 595

In [27]:
print(*sitealign._residue_names)

GLN ARG ILE PHE GLY THR VAL TYR LYS VAL ALA VAL LYS MET LEU ALA PHE LYS ASN GLU VAL GLY VAL LEU ARG LYS THR ARG VAL ASN ILE LEU LEU PHE MET GLY TYR ALA ILE VAL THR GLN TRP CYS GLU GLY SER SER LEU TYR HIS HIS LEU HIS ALA TYR LEU HIS ALA LYS SER ILE ILE HIS ARG ASP LEU LYS SER ASN ASN ILE PHE LEU ILE GLY ASP PHE

In [28]:
print(*sitealign._categories)

1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 2.0 0.0 1.0 1.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 2.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0

## Subpocket distances (WIP)

In [29]:
from opencadd.structure.pocket import KlifsPocket
from kissim.definitions import ANCHOR_RESIDUES

In [30]:
ANCHOR_RESIDUES

{'hinge_region': [16, 47, 80],
 'dfg_region': [19, 24, 81],
 'front_pocket': [10, 48, 72]}

In [31]:
import pandas as pd
subpockets = pd.DataFrame(
    {
        "anchor_residue.klifs_ids": ANCHOR_RESIDUES.values(), 
        "subpocket.name": ANCHOR_RESIDUES.keys(), 
        "subpocket.color": ["magenta", "cornflowerblue", "green"]
    }
)
subpockets

  anchor_residue.klifs_ids subpocket.name subpocket.color
0             [16, 47, 80]   hinge_region         magenta
1             [19, 24, 81]     dfg_region  cornflowerblue
2             [10, 48, 72]   front_pocket           green

In [32]:
pocket = KlifsPocket.from_structure_klifs_id(2222, subpockets)

INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!
INFO:opencadd.structure.pocket.base:Pocket 2222 (set pocket residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [('_', 6), ('_', 50)]
INFO:opencadd.structure.pocket.base:Pocket 2222 (set region residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [(None, 6)]
INFO:opencadd.structure.pocket.base:Pocket 2222 (set region residues): The following input residues were dropped because they cannot be cast to an integer (residue PDB ID, residue index): [(None, 50)]

In [33]:
pocket.subpockets

  subpocket.name subpocket.color                subpocket.center
0   hinge_region         magenta  [2.1213334, 21.789667, 42.245]
1     dfg_region  cornflowerblue   [7.789667, 19.974, 34.531666]
2   front_pocket           green  [0.3360001, 16.016668, 39.495]

In [34]:
pocket.center

array([ 1.2212896, 20.75234  , 37.10209  ], dtype=float32)

In [35]:
pocket.ca_atoms

      atom.id atom.name  atom.x     atom.y     atom.z  residue.id residue.name
83         84        CA   8.781  15.427000  52.654999          47          LYS
90         91        CA   8.165  13.438000  49.480999          48          LYS
98         99        CA   4.418  13.458000  48.726002          49          ILE
106       107        CA   1.952  11.665000  46.456001          50          GLY
110       111        CA   2.106   8.098000  45.132999          51          CYS
...       ...       ...     ...        ...        ...         ...          ...
1161     1162        CA   1.693  19.193001  33.804001         185          ASP
1169     1170        CA   2.614  21.252001  30.752001         186          PHE
1180     1181        CA   5.843  19.372000  29.906000         187          ALA
1185     1186        CA   4.296  17.972000  26.721001         188          LEU
1193     1194        CA   2.729  21.231001  25.506001         189          ALA

[83 rows x 7 columns]

In [36]:
import numpy as np

In [37]:
distances = {}

# Subpockets
for _, subpocket in pocket.subpockets.iterrows():
    distances[subpocket["subpocket.name"]] = []
    for _, ca_atom in pocket.ca_atoms.iterrows():
        subpocket_center_coord = subpocket["subpocket.center"]
        ca_atom_coord = ca_atom[["atom.x", "atom.y", "atom.z"]].to_numpy()
        distance = np.linalg.norm(subpocket_center_coord - ca_atom_coord)
        distances[subpocket["subpocket.name"]].append(distance)

# Pocket center
distances["center"] = []
for _, ca_atom in pocket.ca_atoms.iterrows():
    ca_atom_coord = ca_atom[["atom.x", "atom.y", "atom.z"]].to_numpy()
    distance = np.linalg.norm(pocket.center - ca_atom_coord)
    distances["center"].append(distance)

pd.DataFrame(distances, index=pocket.ca_atoms["residue.id"])

            hinge_region  dfg_region  front_pocket     center
residue.id
47             13.899741   18.711311     15.647726  18.094239
48             12.595076   16.320011     12.948474  15.967220
49             10.802534   15.978285     10.412537  14.090483
50             10.966773   15.662300      8.366841  13.061752
51             13.992946   16.903602      9.880550  15.013680
...                  ...         ...           ...        ...
185             8.841753    6.189411      6.657176   3.678510
186            11.516111    6.535035     10.442127   6.520193
187            13.112849    5.054572     11.555700   8.663096
188            16.133762    8.787503     13.515915  11.178154
189            16.759339   10.423677     15.119781  11.703486

[83 rows x 4 columns]