# The `io` module

In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
from kissim.io import PocketDataFrame, PocketBioPython

## The `PocketBioPython` class

In [3]:
pocket_bp = PocketBioPython.from_structure_klifs_id(12347)
pocket_bp

### Class attributes

In [4]:
pocket_bp._data_complex

In [5]:
print(*pocket_bp._residue_ids)

461 462 463 None None None None 468 469 470 471 472 473 480 481 482 483 484 485 497 498 499 500 501 502 503 504 505 506 507 508 509 511 512 513 514 515 516 517 518 519 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 592 593 594 595 None None None

In [6]:
print(*pocket_bp._residue_ixs)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85

In [7]:
pocket_bp._hse_ca_complex

In [8]:
pocket_bp._hse_cb_complex

In [9]:
pocket_bp.center

### Class properties

In [10]:
pocket_bp.residues

    residue.id  residue.ix
0          461           1
1          462           2
2          463           3
3         <NA>           4
4         <NA>           5
..         ...         ...
80         594          81
81         595          82
82        <NA>          83
83        <NA>          84
84        <NA>          85

[85 rows x 2 columns]

In [11]:
pocket_bp.ca_atoms

    residue.id    ca.atom                    ca.vector
0          461  <Atom CA>  <Vector 8.81, 16.81, 51.66>
1          462  <Atom CA>  <Vector 8.91, 14.91, 48.36>
2          463  <Atom CA>  <Vector 5.48, 13.77, 47.17>
3         <NA>       None                         None
4         <NA>       None                         None
..         ...        ...                          ...
80         594  <Atom CA>  <Vector 1.83, 18.43, 34.14>
81         595  <Atom CA>  <Vector 2.38, 19.71, 30.60>
82        <NA>       None                         None
83        <NA>       None                         None
84        <NA>       None                         None

[85 rows x 3 columns]

In [12]:
pocket_bp.pcb_atoms

    residue.id                   pcb.vector
0          461  <Vector 8.41, 16.41, 51.25>
1          462  <Vector 9.76, 15.76, 49.21>
2          463                         None
3         <NA>                         None
4         <NA>                         None
..         ...                          ...
80         594  <Vector 2.26, 18.87, 34.57>
81         595                         None
82        <NA>                         None
83        <NA>                         None
84        <NA>                         None

[85 rows x 2 columns]

In [13]:
pocket_bp.side_chain_representatives

    residue.id    sc.atom                    sc.vector
0          461  <Atom CD>  <Vector 5.63, 14.81, 52.26>
1          462       None                         None
2          463       None                         None
3         <NA>       None                         None
4         <NA>       None                         None
..         ...        ...                          ...
80         594  <Atom CG>  <Vector 1.72, 16.82, 36.09>
81         595  <Atom CZ>  <Vector 0.31, 24.33, 31.38>
82        <NA>       None                         None
83        <NA>       None                         None
84        <NA>       None                         None

[85 rows x 3 columns]

In [14]:
pocket_bp.hse_ca

{('A', (' ', 461, ' ')): (0, 16, 0.4655905486374442),
 ('A', (' ', 462, ' ')): (7, 7, 0.4399215733344865),
 ('A', (' ', 469, ' ')): (10, 7, 0.971084884491048),
 ('A', (' ', 470, ' ')): (8, 14, 0.3787440248254108),
 ('A', (' ', 471, ' ')): (11, 13, 0.39526627156570804),
 ('A', (' ', 472, ' ')): (10, 16, 0.42216138846715284),
 ('A', (' ', 473, ' ')): (8, 19, 0.40810049707795515),
 ('A', (' ', 480, ' ')): (14, 15, 0.5569745397914178),
 ('A', (' ', 481, ' ')): (12, 24, 0.37243914245661425),
 ('A', (' ', 482, ' ')): (21, 16, 0.3717966836850062),
 ('A', (' ', 483, ' ')): (12, 23, 0.3549960732120495),
 ('A', (' ', 484, ' ')): (18, 14, 0.4954201432974303),
 ('A', (' ', 485, ' ')): (7, 16, 0.39659589833617437),
 ('A', (' ', 497, ' ')): (2, 16, 0.8773662912235701),
 ('A', (' ', 498, ' ')): (14, 13, 0.8921861178584604),
 ('A', (' ', 499, ' ')): (5, 17, 0.8929657518565204),
 ('A', (' ', 500, ' ')): (0, 16, 0.8760689217170048),
 ('A', (' ', 501, ' ')): (10, 16, 0.8746068265873101),
 ('A', (' ', 502, ' ')): (14, 14, 0.8709322715379234),
 ('A', (' ', 503, ' ')): (2, 17, 0.8872888804665334),
 ('A', (' ', 504, ' ')): (7, 13, 0.8807140338123873),
 ('A', (' ', 505, ' ')): (19, 13, 0.8268195070625635),
 ('A', (' ', 506, ' ')): (12, 14, 0.8329722637754496),
 ('A', (' ', 507, ' ')): (4, 19, 0.54943506512704),
 ('A', (' ', 508, ' ')): (25, 4, 0.35234174237660465),
 ('A', (' ', 509, ' ')): (2, 17, 0.38604978910531096),
 ('A', (' ', 511, ' ')): (4, 18, 0.8757996049010396),
 ('A', (' ', 512, ' ')): (20, 10, 0.7040808618892107),
 ('A', (' ', 513, ' ')): (18, 18, 0.41646600006675244),
 ('A', (' ', 514, ' ')): (20, 16, 0.5106370926721973),
 ('A', (' ', 515, ' ')): (9, 20, 0.36066647320631956),
 ('A', (' ', 516, ' ')): (22, 13, 0.4934882559732467),
 ('A', (' ', 517, ' ')): (8, 22, 0.7778592674030705),
 ('A', (' ', 518, ' ')): (7, 23, 1.0152631696419698),
 ('A', (' ', 519, ' ')): (16, 16, 0.401486027058004),
 ('A', (' ', 526, ' ')): (18, 20, 0.4903874221791768),
 ('A', (' ', 527, ' ')): (16, 26, 0.40422149116003103),
 ('A', (' ', 528, ' ')): (24, 18, 0.35516446911019756),
 ('A', (' ', 529, ' ')): (17, 22, 0.6745105376393891),
 ('A', (' ', 530, ' ')): (10, 19, 0.6102496243954755),
 ('A', (' ', 531, ' ')): (15, 15, 0.3898678615091441),
 ('A', (' ', 532, ' ')): (18, 9, 0.3924297185034519),
 ('A', (' ', 533, ' ')): (2, 17, 0.4114518999640284),
 ('A', (' ', 534, ' ')): (6, 13, 1.387718483228435),
 ('A', (' ', 535, ' ')): (8, 20, 0.6666116172157527),
 ('A', (' ', 536, ' ')): (10, 20, 0.5406031251935318),
 ('A', (' ', 537, ' ')): (24, 16, 0.8843786536892418),
 ('A', (' ', 538, ' ')): (14, 14, 0.9323188292374216),
 ('A', (' ', 539, ' ')): (4, 20, 0.8783526175883263),
 ('A', (' ', 540, ' ')): (12, 17, 0.9569909891448872),
 ('A', (' ', 541, ' ')): (17, 15, 0.9170270083614207),
 ('A', (' ', 542, ' ')): (11, 14, 0.9021706366691501),
 ('A', (' ', 543, ' ')): (1, 16, 0.8536189292902914),
 ('A', (' ', 566, ' ')): (7, 20, 0.9112492717984675),
 ('A', (' ', 567, ' ')): (18, 15, 0.9274318166322101),
 ('A', (' ', 568, ' ')): (11, 13, 0.8056578173589614),
 ('A', (' ', 569, ' ')): (6, 12, 0.8377202037583658),
 ('A', (' ', 570, ' ')): (7, 12, 0.6890140242622086),
 ('A', (' ', 571, ' ')): (2, 15, 0.8432232078680914),
 ('A', (' ', 572, ' ')): (12, 12, 0.39123083566291017),
 ('A', (' ', 573, ' ')): (11, 17, 0.3536776031810066),
 ('A', (' ', 574, ' ')): (20, 14, 0.4563681096371682),
 ('A', (' ', 575, ' ')): (8, 17, 0.8427981561651202),
 ('A', (' ', 576, ' ')): (4, 18, 0.4685126560299723),
 ('A', (' ', 577, ' ')): (25, 9, 0.4184341466429182),
 ('A', (' ', 578, ' ')): (9, 24, 0.521654331576173),
 ('A', (' ', 579, ' ')): (26, 12, 0.7890274791257383),
 ('A', (' ', 580, ' ')): (9, 20, 0.7822528421784355),
 ('A', (' ', 581, ' ')): (10, 18, 0.6758839551825693),
 ('A', (' ', 582, ' ')): (22, 19, 0.3626246243028961),
 ('A', (' ', 583, ' ')): (10, 24, 0.42783801251466086),
 ('A', (' ', 584, ' ')): (16, 20, 0.39522143178070585),
 ('A', (' ', 592, ' ')): (20, 22, 0.38153770502359663),
 ('A', (' ', 593, ' ')): (16, 19, 0.9883311700904375),
 ('A', (' ', 594, ' ')): (8, 19, 0.8224480001297801)}

In [15]:
pocket_bp.hse_cb

{('A', (' ', 461, ' ')): (2, 14, 0.0),
 ('A', (' ', 462, ' ')): (3, 11, 0.0),
 ('A', (' ', 463, ' ')): (11, 5, 0.0),
 ('A', (' ', 468, ' ')): (2, 7, 0.0),
 ('A', (' ', 469, ' ')): (11, 6, 0.0),
 ('A', (' ', 470, ' ')): (12, 10, 0.0),
 ('A', (' ', 471, ' ')): (7, 17, 0.0),
 ('A', (' ', 472, ' ')): (14, 12, 0.0),
 ('A', (' ', 473, ' ')): (7, 20, 0.0),
 ('A', (' ', 480, ' ')): (17, 12, 0.0),
 ('A', (' ', 481, ' ')): (13, 23, 0.0),
 ('A', (' ', 482, ' ')): (19, 18, 0.0),
 ('A', (' ', 483, ' ')): (11, 24, 0.0),
 ('A', (' ', 484, ' ')): (17, 15, 0.0),
 ('A', (' ', 485, ' ')): (10, 13, 0.0),
 ('A', (' ', 497, ' ')): (9, 9, 0.0),
 ('A', (' ', 498, ' ')): (16, 11, 0.0),
 ('A', (' ', 499, ' ')): (5, 17, 0.0),
 ('A', (' ', 500, ' ')): (6, 10, 0.0),
 ('A', (' ', 501, ' ')): (14, 12, 0.0),
 ('A', (' ', 502, ' ')): (17, 11, 0.0),
 ('A', (' ', 503, ' ')): (5, 14, 0.0),
 ('A', (' ', 504, ' ')): (11, 9, 0.0),
 ('A', (' ', 505, ' ')): (19, 13, 0.0),
 ('A', (' ', 506, ' ')): (10, 16, 0.0),
 ('A', (' ', 507, ' ')): (10, 13, 0.0),
 ('A', (' ', 508, ' ')): (24, 5, 0.0),
 ('A', (' ', 509, ' ')): (1, 18, 0.0),
 ('A', (' ', 511, ' ')): (4, 18, 0.0),
 ('A', (' ', 512, ' ')): (16, 14, 0.0),
 ('A', (' ', 513, ' ')): (15, 21, 0.0),
 ('A', (' ', 514, ' ')): (19, 17, 0.0),
 ('A', (' ', 515, ' ')): (7, 22, 0.0),
 ('A', (' ', 516, ' ')): (19, 16, 0.0),
 ('A', (' ', 517, ' ')): (13, 17, 0.0),
 ('A', (' ', 518, ' ')): (12, 18, 0.0),
 ('A', (' ', 519, ' ')): (11, 21, 0.0),
 ('A', (' ', 526, ' ')): (21, 17, 0.0),
 ('A', (' ', 527, ' ')): (17, 25, 0.0),
 ('A', (' ', 528, ' ')): (23, 19, 0.0),
 ('A', (' ', 529, ' ')): (17, 22, 0.0),
 ('A', (' ', 530, ' ')): (11, 18, 0.0),
 ('A', (' ', 531, ' ')): (13, 17, 0.0),
 ('A', (' ', 532, ' ')): (19, 8, 0.0),
 ('A', (' ', 533, ' ')): (3, 16, 0.0),
 ('A', (' ', 534, ' ')): (16, 3, 0.0),
 ('A', (' ', 535, ' ')): (8, 20, 0.0),
 ('A', (' ', 536, ' ')): (12, 18, 0.0),
 ('A', (' ', 537, ' ')): (25, 15, 0.0),
 ('A', (' ', 538, ' ')): (8, 20, 0.0),
 ('A', (' ', 539, ' ')): (7, 17, 0.0),
 ('A', (' ', 540, ' ')): (19, 10, 0.0),
 ('A', (' ', 541, ' ')): (22, 10, 0.0),
 ('A', (' ', 542, ' ')): (12, 13, 0.0),
 ('A', (' ', 543, ' ')): (8, 9, 0.0),
 ('A', (' ', 566, ' ')): (13, 14, 0.0),
 ('A', (' ', 567, ' ')): (22, 11, 0.0),
 ('A', (' ', 568, ' ')): (15, 9, 0.0),
 ('A', (' ', 569, ' ')): (9, 9, 0.0),
 ('A', (' ', 570, ' ')): (14, 5, 0.0),
 ('A', (' ', 571, ' ')): (0, 17, 0.0),
 ('A', (' ', 572, ' ')): (16, 8, 0.0),
 ('A', (' ', 573, ' ')): (8, 20, 0.0),
 ('A', (' ', 574, ' ')): (20, 14, 0.0),
 ('A', (' ', 575, ' ')): (4, 21, 0.0),
 ('A', (' ', 576, ' ')): (5, 17, 0.0),
 ('A', (' ', 577, ' ')): (23, 11, 0.0),
 ('A', (' ', 578, ' ')): (7, 26, 0.0),
 ('A', (' ', 579, ' ')): (20, 18, 0.0),
 ('A', (' ', 580, ' ')): (4, 25, 0.0),
 ('A', (' ', 581, ' ')): (13, 15, 0.0),
 ('A', (' ', 582, ' ')): (23, 18, 0.0),
 ('A', (' ', 583, ' ')): (13, 21, 0.0),
 ('A', (' ', 584, ' ')): (17, 19, 0.0),
 ('A', (' ', 592, ' ')): (22, 20, 0.0),
 ('A', (' ', 593, ' ')): (14, 21, 0.0),
 ('A', (' ', 594, ' ')): (13, 14, 0.0),
 ('A', (' ', 595, ' ')): (17, 8, 0.0)}

## The `PocketDataFrame` class

In [16]:
pocket_df = PocketDataFrame.from_structure_klifs_id(12347)
pocket_df

### Class attributes

In [17]:
pocket_df.data.shape

(577, 7)

In [18]:
pocket_df.data["residue.id"].unique().shape[0]

78

In [19]:
print(*pocket_df._residue_ids)

461 462 463 None None None None 468 469 470 471 472 473 480 481 482 483 484 485 497 498 499 500 501 502 503 504 505 506 507 508 509 511 512 513 514 515 516 517 518 519 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 592 593 594 595 None None None

In [20]:
print(*pocket_df._residue_ixs)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85

In [21]:
pocket_df.center

array([ 0.8315384, 21.615948 , 36.450153 ], dtype=float32)

### Class properties

In [22]:
pocket_df.residues

    residue.id  residue.ix
0          461           1
1          462           2
2          463           3
3         <NA>           4
4         <NA>           5
..         ...         ...
80         594          81
81         595          82
82        <NA>          83
83        <NA>          84
84        <NA>          85

[85 rows x 2 columns]

In [23]:
pocket_df.ca_atoms

      atom.id atom.name  atom.x     atom.y     atom.z  residue.id residue.name
74         75        CA   8.811  16.811001  51.655998         461          GLN
83         84        CA   8.911  14.914000  48.361000         462          ARG
88         89        CA   5.484  13.770000  47.174999         463          ILE
93         94        CA   9.005  12.196000  35.423000         468          PHE
104       105        CA  10.820  14.702000  37.655998         469          GLY
...       ...       ...     ...        ...        ...         ...          ...
928       929        CA  -9.359  18.820999  42.319000         584          LEU
990       991        CA  -4.694  21.469999  35.196999         592          ILE
998       999        CA  -0.956  20.885000  35.011002         593          GLY
1002     1003        CA   1.828  18.434000  34.138000         594          ASP
1010     1011        CA   2.382  19.711000  30.596001         595          PHE

[78 rows x 7 columns]